# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
Makefile.in
Makefile.win32
Makefile.win32.Debug
Makefile.win32.Release
build/

*.txt
fft_gkr
gen
zk_proof
link.txt
tests/SHA256/psdp
tests/SHA256/SHA256_4_rdl.pws
tests/SHA256/SHA256_4.pws
tests/SHA256/SHA256_64_merkle_1_rdl.pws
tests/SHA256/SHA256_64_merkle_2_rdl.pws
tests/SHA256/SHA256_64_merkle_3_rdl.pws
tests/SHA256/SHA256_64_merkle_4_rdl.pws
tests/SHA256/SHA256_64_merkle_5_rdl.pws
tests/SHA256/SHA256_64_merkle_6_rdl.pws
tests/SHA256/SHA256_64_merkle_7_rdl.pws
tests/SHA256/SHA256_64_merkle_8_rdl.pws
tests/SHA256/SHA256_64.pws
.vscode/settings.json
build/compile_commands.json
build/.cmake/api/v1/reply/target-fft_gkr-Debug-e5400dfcc53e83e59a78.json
build/CMakeFiles/fft_gkr.dir/flags.make
build/CMakeFiles/fft_gkr.dir/link.txt
build/CMakeFiles/zk_proof.dir/flags.make
build/CMakeFiles/zk_proof.dir/link.txt
.vscode/settings.json
build/compile_commands.json
build/.cmake/api/v1/reply/target-fft_gkr-Debug-e5400dfcc53e83e59a78.json
